<a href="https://colab.research.google.com/github/yazicienis/Modeling_Simulation_Lecture_Notes/blob/main/2_Intro_Python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Lecture Notes
## Variables

### Mathematical Operations

In this Jupyter Notebook you will find some examples in python language.

# Assigning Variables
## Common Examples:

In [ ]:
a,b,c,d,e = 0,1,2,3,4
# a = b = c = d = e = 0
print(a)
print (b)
print(c)
print (d)
print(e)

In [ ]:
initials = [0,0,0,0,0,0,0,0,0]
a,b,c,d,e,f,g,h,i = initials
print (i)
print(e)

In [ ]:
x = "Physics"
y = "is awesome"
print (x+y)
print (x,y)

g = [3]
h = [5]
int1 = 5
int2 = 8
list1 = g + h
list2 = int1 + int2
print(list1)
print(list2)

print("The sum is = ", int1 + int2)

In [ ]:
# Booleans
a = True
b = False
# True , False , list , int, float, str , type .... these words are already reserved in Python

print (type (a))
print (type (b))

In [ ]:
False =3
False

## Keywords in Python

![image.png]()

In [ ]:
# Control & Check Methods:

text1 = "The best things in life are free!"
print ("best" in text1)
print ("worse" in text1)
print("Best" in text1)
print ("best" not in text1)

In [ ]:
# The Length of a String or of a List
text1 = "The best"
print (len(text1))
print (text1[0:5])
print (text1[-3])

In [ ]:
a=[0,1,2,3,4,5,6,7,8]

print(a[1::2])

print(a[-4:-7:-1])

In [ ]:
text1 = "The best LIFE"
print (text1.upper())
print(text1.lower())
print(text1.capitalize())
print(text1.title())

In [ ]:
print(text1.replace("e","a"))

In [ ]:
print(text1.count("E"))

In [ ]:
print(text1.find("e"))

In [ ]:
text1[2]

## Brackets in Python

In [ ]:
""" Brackets in Python:


 () parentheses
 [] brackets / square brackets
 {} braces / curly brackets

 Which Quotation Mark?

 " and ' work the same

"""

# To comment out more than one line, use three quotation marks: """  """

In [ ]:
# Usage of format() Function:

age = 40
kids = "three"

txt = "My name is John. I am {0} years old. I have {1} children."

print (txt.format(age, kids))

In [ ]:
txt2 = "I bought a {}"
object1 = "Car"
print (txt2.format(object1))

In [ ]:
a = "hi"
b = 'hi'
print ( a , b )


"""
By using triple quotation mark,
We can comment
more than
one line!
"""

In [ ]:
# input() Function:

input1 = input ("Give an number!")
print (type(input1))

print (input1*10)
input1 = float(input1)
print (type(input1))
print (input1 * 10)

In [ ]:
# type(Function):

print (type(1 + 2 * 4 / 4))

In [ ]:
# sorted() Function:
listsample = [4,5,2,0,4.8]
print (sorted(listsample))

In [ ]:
print(sum(listsample))

# Importing Modules and Specific Functions from Other Modules

In [ ]:
a = sqrt(9)

In [ ]:


#To import all functions in Module math :
from math import *

# To import just a specific function from module math:

from math import sqrt

a = sqrt(9)
print (a)

# https://docs.python.org/3/library/math.html

In [ ]:
import math

In [ ]:
a = math.pow(10,3)

a

In [ ]:
# Producing Random Numbers
from random import randint
from random import randrange
from random import random
a = randint(0,10)
print (a)
b = randrange (0,100, 3)
print (b)
c = random()   # generates a number between 0 and 1
print (c)

# **If and If Else Satements**

In [ ]:
n = 14
if n % 2 == 0 :
 print ("n is an even number")
else:
 print ("n is an odd number")

In [ ]:
'''
a == b    equal
a != b    not equal
a < b     less than
a > b     greater than
a >= b    greater or equal
a <= b    less or equal

'''

In [ ]:
a = 51
b = 50

if a < b :
  print (a)

elif a == b :
  print ("equal")

else:
  print (b)

In [ ]:
i = input("Enter a character:")

if i.isalpha():
    print (i, "is a letter")

elif i == " " :
    print (i, "is a space")

elif i.isnumeric():
    print (i, "is a number")

else:
    print (i, "is a sign")

\

# **For and While Loops in Python**

\

In [ ]:
for i in range(5):
  x = 2*i
  print (x)
  print(2*x)

In [ ]:
from math import sqrt
for value in range (0,100,13):
  x = sqrt(value)
  print ("Square root of {} is {}".format(value, x))

In [ ]:
list1 = ["a","b","c","d"]

for i in list1:
  print (i)

In [ ]:
for i in range(len(list1)):
  print (i)

In [ ]:
for i in [5,10,15,20] :
  print (2*i)

In [ ]:
L = []

for i in range (1, 10):
  L.append(3*i)
print (L)

In [ ]:
# While Loops

from random import randint


L = []


while len(L) <= 10 :
  L.append(randint(0,1000))

print(L)

In [ ]:
# Program to add natural numbers up to sum = 1+2+3+...+n

# To take input from the user,
n = int(input("Enter n: "))

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum of natural numbers from 0 to {} is:".format(n), sum)

#### For and While blocks start with a colon, end till the space char exist (indentation).

# A Very Well-Known Example:
## Fibonacci Series
### And Golden Ratio

https://www.youtube.com/watch?v=0tAZe6pP-FM

In [ ]:
# 1 1 2 3 5 8 13 21 34 55 .......
# goldenratio = 55/34

a = 1
b = 1

fibonacci = [a,b]

for i in range (100):
  c = a+b
  fibonacci.append(c)
  a = b
  b = c

print (fibonacci)

goldenRatio = fibonacci[-1] / fibonacci [-2]
print ("Golden Ratio is : ", goldenRatio)

In [ ]:
f = [1,1]

i=2

while i<100:

  f.append(f[i-1] + f[i-2])

  i=i+1

print(f)

print("Golden ratio is :",f[-1]/f[-2])

In [ ]:
# List of Numbers that can be divided by 13 between 0 and 1000:

L = []

for x in range(1000) :

  if x % 13 == 0 :

    L.append(x)

print (L)

In [ ]:
sentence = "!!e4"

for i in sentence:

  if i.isalpha():
    print (i, "is a letter")

  elif i == " " :
    print (i, "is a space")

  elif i.isnumeric():
    print (i, "is a number")

  else:
    print (i, "is a sign")

# "Break" Method in While Loops:

In [ ]:
i = 1

while i < 6:
  print(i)

  if i == 3:
    break
  i = i+1

In [ ]:
L = []

while True:
  L.append(0)

  if len(L) == 50:
    break


print(L)

**Dictionary**

A Dictionary is an other data type in Python.
It consists of key-value pairs. A value always belongs to a specific key. So one can "map" (assign) the keys to the values, hence the category name mapping.

In [ ]:
# Data Types in Python:
list1 =[1,2]
integer1 = 5
float1 = 1.5
string1= "Hallo"
a = True
print(type(list1))
print(type(integer1))
print(type(float1))
print(type(string1))
print (type(a))

In [ ]:
# Dictionary Declaration
dictionary1 = {"Land": "Bayern"}
print(dictionary1)
print (type(dictionary1))
print (len(dictionary1))

In [ ]:
#This example shows a dictionary named "cities" which includes German cities that have more than one million population.

cities = { "Berlin": 3667000,
"Hamburg": 1850000,
"Munich": 1490000,
"Cologne": 1090000, }

In [ ]:
print (cities)

In [ ]:
# We can access the value for a specific key by specifying that key in brackets following the dictionary name:

cities["Munich"]

In [ ]:
# It is very easy to add more entries to a dictionary. We show this using the example of the city of Konstanz:
cities["Konstanz"], cities["Heidelberg"] = 85000, 100000

In [ ]:
cities

In [ ]:
# One can declare an empty dictionary. An empty dictionary is created with a pair of curly brackets {} or the dict() call:
participant = {}
print (participant)

In [ ]:
participant["James"] = "present"
print (participant)

In [ ]:
participant["Kate"] = "absent"
print (participant)

In [ ]:
# There is another way to declare a dictionary: Using dict() Function:

participantList = dict()
participantList["John"] = "present"
print (participantList)

In [ ]:
participant["Ali"] = "present"
print (participant)

In [ ]:
participant["Ali"] = "absent"

participant["James2"] = "present"
print (participant)

In [ ]:
# Please also note that the values in a dictionary don't have to be unique, which is why we could use "present" multiple times.
# However, the keys are unique:
food={}

food["cheese"] = "yes"
food["eggs"] = "yes"
food["cheese"] = "no"
food["cola"] = "No"
food

In [ ]:
"cheese" in food

### Operators on dictionaries

     ** Operator **                 ** Explanation **
    
     len(d)                      Returns the number of all elements contained in the dictionary, i.e. key-value pairs
     del (d[k])                    Delete key k along with its value
     k in d                      True if there is a key k in dictionary d
     k not in d                  True if there is no key k in dictionary d

In [ ]:
dic= {}

dic["a"] = "1"

dic["b"] = "2"

dic["c"] = "3"

dic["d"] = "4"

dic["e"] = "5"

dic["f"] = "6"

dic["g"] = "7"

dic["h"] = "8"

dic["i"] = "9"

dic["j"] = "10"

dic

In [ ]:
dictionary = {"a":1,"b":2,"c":3,"d":4,"e":5,"f":6,"g":7,"h":8,"i":9,"j":10}
dictionary

In [ ]:
dictionary = {'KEY WORD' : 'Value'}

# Defining A New Function:

In python you can define your own function according to the needs of the task.

It is done by "def" keyword:

In [ ]:
def new_Function () :
    print("Hello")

new_Function()

In [ ]:
def Addition (a,b):
    c= a + b
    print (c)

Addition(30, 30.5)

In [ ]:
Addition("Hi! ", "My name is _________")

In [ ]:
Addition(35.5,87.6)

In [ ]:
#Create a function that takes a string as a parameter and returns the first and last characters of the string.

In [ ]:
#Solution:

def func_string(a):

  return a[0], a[-1]

func_string("Homework")

In [ ]:
def mult (a, b):
    return a*b

def summ(a,b):
    return a+b

def division (a,b):
    return a/b

def subtr (a,b) :
    return a-b



x = mult(4.5,2)
y = summ ("enis","yazici")
z = division(80,4)
t = subtr(15,20)
print(x)
print(y)
print(z)
print(t)

## **return** Statement
A function with a return statement is very common with the concept of a function in the mathematical sense:

                                 y=f(x)
whereby

f: function name\
x: arguments \
y: return value

In [ ]:
def add_multiply(number1, number2):
    return number1 + number2 , number1 * number2

a = add_multiply(4,10)
print(a)
print (type(a))
print(a[0], a[1])

In [ ]:
newParameter = add_multiply(5,50)
newParameter1, newParameter2  = add_multiply(4,10)

print(newParameter1, newParameter2)
print (type(newParameter))
print (type(newParameter1))
print (type(newParameter2))

## **Task**:

1. Write a function that takes the radius of a circle as a parameter and calculates the area of the circle.

2. Write a function that takes three numbers as input parameters and orders those numbers from smaller to larger.

# ***Reading and Creating Data Files in Python***

In [ ]:
with open("example.txt", "w") as text:
  text.write("Name: \nAddress: \nAge: \nOccupation:")
text.close()

In [ ]:
dat = open("example.txt","r")
for i in dat:
    print(i.rstrip())
dat.close()

In [ ]:
# Readlines() Function:

text = open("example.txt").readlines()
print(text)
print(type(text))

In [ ]:
print(text[1])

In [ ]:
# Read() Function:

text = open("example.txt").read()
print(text[0:20])

In [ ]:
type(text)

In [ ]:
with open("example.txt", 'a') as addLines:
  addLines.write("This is the last line \n")

text = open("example.txt").read()
print(text)

In [ ]:
# Copy file to another

with open('example.txt','r') as rf:
    with open('Example2.txt','w') as wf:
          for x in rf:

                wf.write(x)

# Comma Separated Values (CSV) file Read with Python

The data is separated by commas in one file. The names of the data columns are usually stored in the first line.

In [ ]:
import csv

with open('my_first_CSVData.csv', mode='w') as myData:
    myData = csv.writer(myData, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)

    myData.writerow([ 'Name' ,'Job' , 'Birth month'])
    myData.writerow(['Ironman', 'Bussinessman', 'November'])
    myData.writerow(['Thor', 'Prince', 'February'])
    myData.writerow(['Hulk', 'Scientist', 'January'])
    myData.writerow(['Captain Marvel', 'Pilot', 'June'])
    myData.writerow(['Enis','Physicist','Jan'])

In [ ]:
import csv

with open('my_second__CSVdata.csv', mode='w') as Data_:
    fields = ['Name', 'Job', 'Birth month']
    writer = csv.DictWriter(Data_, fieldnames=fields)

    writer.writeheader()
    writer.writerow({'Name': 'Ironman', 'Job': 'Bussinessman', 'Birth month': 'November'})
    writer.writerow({'Name': 'Thor', 'Job': 'Prince', 'Birth month': 'February'})
    writer.writerow({'Name': 'Hulk', 'Job': 'Physicist', 'Birth month': 'January'})
    writer.writerow({'Name': 'Captain Marvel', 'Job': 'Pilot', 'Birth month': 'June'})

# Solving Mathematical Equations in Python

In [ ]:
#Import Symbolic Python

# First we import the Python module: sympy
# Then we use the functions from this module : symbols, Eq (Equation), solve

from sympy import symbols, Eq, solve

x = symbols("x")

# Our equation is: 2x + 5 = 10

# x^3 = 8

equation = Eq( x*x*x , -8 )


result = solve(equation, x)

print (result)

In [ ]:
# Solving two Equations:

# Equation I : a + b = 10
# Equation II : a + 2b = 5

a , b = symbols("a b")

equ1 = Eq(a+b , 10)

equ2 = Eq(a+2*b , 5)

result = solve ( (equ1,equ2) , (a,b) )

print (result)

In [ ]:
# Equation I : a + b = 10
# Equation II : a + 2b + c = 5
#Equation III : a + b + c = 1


a , b , c = symbols("a b c")

equ1= Eq (a+b , 10)

equ2= Eq (a+2*b + c , 5)

equ3 = Eq (a+b+c , 1)


result = solve ( (equ1, equ2, equ3), (a,b,c) )

print (result)

In [ ]:
# Create graphs from algebraic expressions

from sympy import Symbol, plot

x = Symbol('x')

expr = input('Enter an expression in x to graph: ')

plot(expr)